In [64]:
request_infos = "/coord?long={0}&lat={1}&dist={2}".format(-12, 13, 14)

In [65]:
print(request_infos)

/coord?long=-12&lat=13&dist=14

In [72]:
import data
import variables as var
import requests
import json
import pandas as pd

In [67]:
# df = data.load_data_stations(-0.57918,44.837789,30)

In [68]:
url = var.generate_url_coord(-0.57918,44.837789,30)
url

'http://127.0.0.1:5000/hydro/stations'

In [73]:
url_API = "http://127.0.0.1:5000/"
url_hydro = url_API+"hydro"
url_hydro_stations = url_hydro+"/stations"
url_hydro_obs_elab = url_hydro+"/obs"

def generate_url_coord(long, lat, dist):
    request_infos = "/coord?long={0}&lat={1}&dist={2}".format(long, lat, dist)
    return url_hydro_stations+request_infos

In [74]:
url = generate_url_coord(-0.57918,44.837789,30)
url

'http://127.0.0.1:5000/hydro/stations/coord?long=-0.57918&lat=44.837789&dist=30'

In [75]:
resp = requests.get(url)
json_file = json.loads(resp.text)
my_data = json_file["data"]
df = pd.DataFrame(my_data)
df2 = pd.DataFrame.from_dict(my_data)
df3 = data.generate_dataframe(url)

AttributeError: 'list' object has no attribute 'values'

In [76]:
df

,code_station,date_fermeture_station,date_ouverture_station,latitude_station,libelle_region,longitude_station
0,O965000101,None,2015-12-11T00:00:00Z,44.670791,NOUVELLE-AQUITAINE,-0.482639
1,O972001001,None,1990-01-01T00:00:00Z,44.859972,NOUVELLE-AQUITAINE,-0.552718
2,O972001002,None,1990-01-01T00:00:00Z,44.859508,NOUVELLE-AQUITAINE,-0.552562
3,O972001101,None,2000-01-01T00:00:00Z,44.904184,NOUVELLE-AQUITAINE,-0.537295
4,O978531001,None,1972-11-14T00:00:00Z,44.956972,NOUVELLE-AQUITAINE,-0.686723
5,O979000101,None,2000-01-01T00:00:00Z,45.003125,NOUVELLE-AQUITAINE,-0.559630
6,P577001001,None,2006-08-25T00:00:00Z,44.912917,NOUVELLE-AQUITAINE,-0.248825
7,P916000101,None,2000-01-01T00:00:00Z,45.040503,NOUVELLE-AQUITAINE,-0.603554
8,P927401001,None,2002-02-08T00:00:00Z,45.013668,NOUVELLE-AQUITAINE,-0.291287

In [ ]:
df2

,code_station,date_fermeture_station,date_ouverture_station,latitude_station,libelle_region,longitude_station
0,O965000101,None,2015-12-11T00:00:00Z,44.670791,NOUVELLE-AQUITAINE,-0.482639
1,O972001001,None,1990-01-01T00:00:00Z,44.859972,NOUVELLE-AQUITAINE,-0.552718
2,O972001002,None,1990-01-01T00:00:00Z,44.859508,NOUVELLE-AQUITAINE,-0.552562
3,O972001101,None,2000-01-01T00:00:00Z,44.904184,NOUVELLE-AQUITAINE,-0.537295
4,O978531001,None,1972-11-14T00:00:00Z,44.956972,NOUVELLE-AQUITAINE,-0.686723
5,O979000101,None,2000-01-01T00:00:00Z,45.003125,NOUVELLE-AQUITAINE,-0.559630
6,P577001001,None,2006-08-25T00:00:00Z,44.912917,NOUVELLE-AQUITAINE,-0.248825
7,P916000101,None,2000-01-01T00:00:00Z,45.040503,NOUVELLE-AQUITAINE,-0.603554
8,P927401001,None,2002-02-08T00:00:00Z,45.013668,NOUVELLE-AQUITAINE,-0.291287

In [80]:
def load_data_stations(long, lat, dist):
    if long == 0 or lat == 0 or dist == 0:
        return False
    else:
        return True

In [81]:
rep = load_data_stations(-0.57918,44.837789,30)

In [82]:
rep

True

In [1]:
import pandas as pd
data = {'Name':['John', 'Doe', 'Paul'], 
        'age':[22, 31, 15]} 
df = pd.DataFrame(data)
df.rename(columns = {'Name' : 'First Name', 'age' : 'Age'}, inplace = True)

In [2]:
df

  First Name  Age
0       John   22
1        Doe   31
2       Paul   15

In [1]:
var = "str"

In [3]:
list = [var]
list

['str']

In [4]:
",".join(list)

'str'

In [5]:
",".join(var)

's,t,r'